In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
sns.set()
sns.set_context('talk')

import warnings
warnings.filterwarnings('ignore')

import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest

In [33]:
df_A = pd.read_csv("airports-extended.csv")

In [34]:
df_A = df_A[['Goroka Airport','Goroka','Papua New Guinea', 'GKA','AYGA','-6.081689834590001','145.391998291']]
df_A = df_A.rename(columns = {'Goroka Airport':'Facility Name','Goroka':'City','Papua New Guinea':'country','GKA':'ident'})
df_A = df_A.rename(columns = {'AYGA':'airport_ident','-6.081689834590001' : 'Lat','145.391998291':'Long'})

In [4]:

df_sub = pd.DataFrame({'Facility Name':['Goroka Airport'],'City':['Goroka'],'country':['Papua New Guinea'],'ident':['GKA'],'airport_ident':['AYGA'],'Lat':[-6.081689834590001],'Long':[145.391998291]})
df_sub

,Facility Name,City,country,ident,airport_ident,Lat,Long
0,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.08169,145.391998

In [5]:
df_sub = df_sub.append(df_A,ignore_index = True)
df_sub.to_csv('airport_processed.csv')

In [6]:
df2 = pd.read_csv("runways.csv")

In [7]:
df_runway = pd.merge(df_sub,df2, how = 'inner', on = 'airport_ident')
df_rw_sum = df_runway.groupby(['ident']).sum()
df_rw_sum = df_rw_sum[:-1]
df_rw_mean = df_runway.groupby(['ident']).mean()
df_rw_mean = df_rw_mean[:-1]
df_runway = df_rw_sum['length_ft'].to_frame().join(df_rw_mean['width_ft'].to_frame())
df_runway.to_csv('airport_runway.csv')

In [36]:
df_city = pd.read_csv("cities_need.csv")
df_city.columns = ['ident','municipality']
df_single = pd.DataFrame([['ABE','allentown']],columns = ['ident','municipality'])
df_city = pd.concat([df_single, df_city]).reset_index(drop = True) 
df_city.to_csv('cities_needed.csv')

In [37]:
df_RW = df_runway.merge(df_city, on = 'ident')

In [58]:
df_airport_needed = df_city.merge(df_sub, how = 'left', on = 'ident')

In [81]:
df_AP = pd.read_csv("airport_poneeded.csv")

In [77]:
df_air = pd.read_csv('Airports_date.csv')
for i in df_air['City'].keys():
    df_air['City'][i] = str(df_air['City'][i]).lower()

In [78]:
df_air = df_air[['Loc_Id','Activation_Date','Last_Inspection']]
df_air = df_air.rename(columns = {'Loc_Id':'airport_ident'})
df_air['Activation_Date'].isnull().sum()

1021

In [69]:
df_AAA = df_airport_needed.merge(df_air, how = 'left', on = 'airport_ident')

In [74]:
df_AAA

,ident,municipality,Facility Name,City,country,airport_ident,Lat,Long,Activation_Date,Last_Inspection
0,ABE,allentown,Lehigh Valley International Airport,Allentown,United States,KABE,40.652100,-75.440804,NaN,NaN
1,ABI,abilene,Abilene Regional Airport,Abilene,United States,KABI,32.411301,-99.681900,NaN,NaN
2,ABQ,albuquerque,Albuquerque International Sunport Airport,Albuquerque,United States,KABQ,35.040199,-106.609001,NaN,NaN
3,ABY,albany,Southwest Georgia Regional Airport,Albany,United States,KABY,31.535500,-84.194504,NaN,NaN
4,ACK,nantucket,Nantucket Memorial Airport,Nantucket,United States,KACK,41.253101,-70.060204,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
291,WRG,wrangell,Wrangell Airport,Wrangell,United States,PAWG,56.484299,-132.369995,NaN,NaN
292,WYS,west yellowstone,Yellowstone Airport,West Yellowstone,United States,KWYS,44.688400,-111.117996,NaN,NaN
293,XNA,bentonville,Northwest Arkansas Regional Airport,Bentonville,United States,KXNA,36.281898,-94.306801,NaN,NaN
294,YAK,yakutat,Yakutat Airport,Yakutat,United States,PAYA,59.503300,-139.660004,NaN,NaN
295,YUM,yuma,Yuma MCAS/Yuma International Airport,Yuma,United States,KNYL,32.656601,-114.606003,NaN,NaN

In [73]:
df_AAA['Activation_Date'].isnull().sum()

296

In [29]:
df = pd.merge(df_sub,df_air, how = 'left', on = 'airport_ident')

In [31]:
df_sub

,Facility Name,City,country,ident,airport_ident,Lat,Long
0,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998
1,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005
3,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001
...,...,...,...,...,...,...,...
10663,Kandi,Kandi,Benin,KDC,DBBK,11.145056,2.940444
10664,Luxmore Hut Helipad,Te Anau,New Zealand,\N,\N,-45.385240,167.619250
10665,Tasman Glacier,Mt. Cook,New Zealand,\N,\N,-43.569905,170.235678
10666,Sokode,Sokode,Togo,\N,DXSK,8.994444,1.152778
10667,Sansanne,Mango,Togo,\N,DXMG,10.372222,0.470833

In [51]:
df3 = pd.read_csv("airports.csv")
df3 = df3[df3['iso_country'] == "US"]

In [52]:
for i in df3['municipality'].keys():
    df3['municipality'][i] = str(df3['municipality'][i]).lower()

In [59]:
df_city_with_ident = pd.merge(df3,df_city,how = 'inner', on = 'municipality')

In [16]:

df2 = df2.rename(columns={'airport_ident':'ident'})
df_runway = pd.merge(df2,df_city_with_ident, how = 'inner', on = 'ident')
df_runway = pd.merge(df_city,df_runway,on = 'municipality')
RW_MEAN = df_runway.groupby(['ABBR_x']).mean()
RW_SUM = df_runway.groupby(['ABBR_x']).sum()
RW_SUM = RW_SUM[['length_ft','width_ft']]
RW_MEAN = RW_MEAN[['length_ft','width_ft']]

RW = RW_SUM['length_ft'].to_frame().join(RW_MEAN['width_ft'].to_frame())

In [17]:
RW_MEAN.to_csv('runway_mean.csv')

In [18]:
RW_SUM.to_csv('runway_sum.csv')

In [19]:
RW.to_csv('runway_sumL_meanW.csv')

In [20]:
df_NV = pd.read_csv("navaids.csv")

In [21]:
df_NV = df_NV[df_NV['iso_country'] == 'US']
df_NV

,id,filename,ident,name,type,frequency_khz,latitude_deg,longitude_deg,elevation_ft,iso_country,dme_frequency_khz,dme_channel,dme_latitude_deg,dme_longitude_deg,dme_elevation_ft,slaved_variation_deg,magnetic_variation_deg,usageType,power,associated_airport
125,85178,Kenie_NDB_US,AA,Kenie,NDB,365,47.009300,-96.815201,887.0,US,NaN,NaN,NaN,NaN,NaN,NaN,4.089,TERMINAL,MEDIUM,KFAR
126,85179,Cedar_NDB_US,AA,Cedar,NDB,341,33.533001,-82.614403,517.0,US,NaN,NaN,NaN,NaN,NaN,NaN,-5.217,TERMINAL,LOW,NaN
127,85180,Abraham_NDB_US,AAA,Abraham,NDB,329,40.160099,-89.337799,593.0,US,NaN,NaN,NaN,NaN,NaN,NaN,-1.206,TERMINAL,LOW,NaN
129,85182,Apalachicola_NDB_US,AAF,Apalachicola,NDB,349,29.723301,-85.028099,19.0,US,NaN,NaN,NaN,NaN,NaN,NaN,-2.557,TERMINAL,LOW,NaN
137,85190,Ashland_NDB_US,AAU,Ashland,NDB,329,40.963299,-82.253403,1256.0,US,NaN,NaN,NaN,NaN,NaN,NaN,-7.232,TERMINAL,LOW,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10680,95765,Youngstown_VORTAC_US,YNG,Youngstown,VORTAC,109000,41.331001,-80.674698,1160.0,US,109000.0,027X,NaN,NaN,NaN,-5.001,-8.447,BOTH,MEDIUM,KYNG
10736,95824,York_VORTAC_US,YRK,York,VORTAC,112800,38.644100,-82.978302,1040.0,US,112800.0,075X,NaN,NaN,NaN,-5.001,-6.125,LO,MEDIUM,NaN
10901,95999,Zephyr_NDB_US,ZEF,Zephyr,NDB,326,36.313202,-80.723396,NaN,US,NaN,NaN,NaN,NaN,NaN,NaN,-7.221,TERMINAL,LOW,NaN
11033,96135,Zuni_VORTAC_US,ZUN,Zuni,VORTAC,113400,34.965801,-109.154999,6550.0,US,113400.0,081X,NaN,NaN,NaN,14.001,10.490,BOTH,HIGH,NaN
11073,96176,Zanesville_VOR-DME_US,ZZV,Zanesville,VOR-DME,111400,39.940899,-81.892601,900.0,US,111400.0,051X,NaN,NaN,NaN,-6.001,-7.237,LO,MEDIUM,KZZV

houston         108
wasilla          63
los angeles      52
columbus         47
jackson          42
               ...
waskom            1
cocodrie          1
camarillo         1
pritchett         1
lehigh acres      1
Name: City, Length: 8135, dtype: int64

In [24]:
df_air = df_air.rename(columns = {'City':'municipality'})
df_air[df_air['Site_Num'] == 22]
#df_one = pd.merge(df_air,df_city,how = 'inner', on = 'municipality')
#df_Inspection = df_one['Last_Inspection'].dropna()
#df_time = df_one[['Activation_Date','municipality']].groupby('municipality')

Empty DataFrame
Columns: [X, Y, OBJECTID, Rec_Type, Site_Num, Fac_Type, Loc_Id, Eff_Date, Region_Code, Field_Office_Code, State_Post_Office_Code, State_Name, County, County_Post_Office_Code, municipality, Fac_Name, Owner_Type, Fac_Use, Owner_Name, Owner_Address, Owner_City_State_Zip, Owner_Phone, Manager_Name, Manager_Address, Manager_City_State_Zip, Manager_Phone, Ref_Point_Lat, Ref_Point_Lat_Secs, Ref_Point_Lon, Ref_Point_Lon_Secs, Ref_Point_Method, Elevation, Elevation_Method, Mag_Var, Mag_Var_Year, Pattern_Altitude, Sectional_Chart, Dist_City_To_Airport, Dir_City_To_Airport, Land_Area_Covered, Boundary_Artcc_Id, Boundary_Artcc_Comp_Id, Boundary_Artcc_Name, Responsible_Artcc_Id, Responsible_Artcc_Comp_Id, Responsible_Artcc_Name, Fss_On_Fac, Fss_Id, Fss_Name, Local_Phone_Airport_To_Fss, Toll_Free_Phone_Airport_To_Fss, Alt_Fss_Id, Alt_Fss_Name, Toll_Free_Phone_Airport_To_Alt_, Notam_Wx_Fac_Id, Notam_DService, Activation_Date, Status_Code, Arff_Cert_Type_Date, Npias_Fed_Cod, Airspace_Analysis, Intl_Customs_Entry, Intl_Customs_Landing, Mil_Joint_Use_Civ, Mil_Landing_Rights, Inspection_Method, Agency_Inspection, Last_Inspection, Last_Info_Request, Fuel_Types, Repair_Service, Power_Plant_Repair, Bottled_Oxygen, Bulk_Oxygen, Lighting_Sched, Beacon_Light_Schedule, Atc_Tower, Unicom, Ctaf, Seg_Circle_Marker, Beacon_Color, Landing_Fee, Medical_Fac, Based_Single_Eng, Based_Multi_Eng, Based_Jet_Eng, Based_Helicopter, Based_Gliders, Based_Military, Based_Ultralight, Commercial_Ops, Commuter_Ops, Air_Taxi_Ops, Ga_Local_Ops, Ga_Itinerant_Ops, Mitary_Ops, Annual_Ops_Date, Position_Src, Position_Src_Date, Elevation_Src, ...]
Index: []

[0 rows x 115 columns]

In [ ]:
d = {'Facility Name': 'Goroka Airport','City': 'Goroka', 'Country':Papua }